body {
    background-color: #202121 !important;
    margin: 0;
    outline: none;
    cursor: default;
}


/*custom title bar start*/

#calculator-title-bar {
    /*dragable while click on the bar*/
    -webkit-app-region: drag;
    height: 30px;
    border-color: none;
    background-color: #303030;
    padding: 0;
    margin: 0;
}

#calculator-title {
    position: fixed;
    left: 10px;
    top: 8px;
    color: #aaa;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    
}

.calculator-btns-title-bar {
    /*set no drag because button click wont work*/
    -webkit-app-region: no-drag;
    float: right;
    top: 0;
    height: 30px;
    background-color: #303030;
}

.calculator-minimize-btn {
    padding-left: 12px;
    padding-top: 5px;
    box-sizing: border-box;
    float: left;
    width: 30px;
    height: 30px;
    background-color: #303030;
    border: none;
    font-family:  Arial, Helvetica, sans-serif;
    color: rgb(146, 146,146);
    font-size: medium;
    cursor: pointer;
    
}

.calculator-minimize-btn:hover {
    background-color: #4b4e4e;
    color: rgb(255, 255, 255);
    outline: none;
}

.calculator-close-btn {
    padding-left: 10px;
    padding-top: 6px;
    box-sizing: border-box;
    float: right;
    width: 30px;
    height: 30px;
    background-color: #303030;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(146, 146,146);
    cursor: pointer;
    
}
.calculator-close-btn:hover {
    background-color: rgb(252, 39, 39);
    color: rgb(255, 255, 255);
    outline: none;
}
/* custom title bar end */

/* input start */
.calculator-content-wrapper {
    padding-top: 30px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.calculator-main-title {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    color: #3879BD;
    font-size: smaller;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}

/* card start */
.myCard {
    background-color: #202121 !important;
    border: none !important;
    float: right;
}

.myBtn {
    width: 83px;
}

#errorMessage {
    width: 400px;
    height: 30px;
    color: #3879BD;
    font-size: calc(5px + 6px);
    text-align: center;
}
/* card end */
/*input end*/